$Segoe: 'Segoe UI';
$white: #ffffff;
$almosWhite: #f1f1f2;
$grayLight: #d8d8d8;
$labelColor: #9e9a9a;

body {
  background-color: #f9f9fb;

  .main {
    width: 1000px;
    min-height: 900px;
    min-height: -webkit-fill-available;
    position: absolute;
    right: calc(50% - 500px);
    top: 0;
    background-color: $white;

    @media only screen and (max-width: 800px) {
      width: 100%;
      right: 0;
    }

    .home-title {
      font-size: 24px;
      font-family: $Segoe;
      color: #666666;
      text-align: center;
      padding: 20px;
    }

    .navbar {
      padding: 10px;
      list-style: none;
      display: flex;
      justify-content: center;
      max-height: 40px;

      .li-bar {
        padding: 10px;
        color: #808080;
        font-family: $Segoe;
        cursor: pointer;

        &:hover {
          border-bottom: 2px solid #eae7e7;
          color: $grayLight;
        }
      }

      .li-selected {
        border-bottom: 2px solid #eae7e7;
        color: $grayLight;
      }
    }

    .projetos {

      [data-title]:hover:after {
        opacity: 1;
        transition: all 0.1s ease 0.5s;
        visibility: visible;
      }

      [data-title]:after {
        content: attr(data-title);
        position: absolute;
        bottom: 10px;
        padding: 4px 4px 4px 8px;
        color: #fff;
        white-space: nowrap;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 0 0 4px #222;
        -webkit-box-shadow: 0 0 4px #222;
        box-shadow: 0 0 4px #222;
        opacity: 0;
        z-index: 99999;
        visibility: hidden;
        background-color: rgba(0,0,0, 0.6);
      }

      [data-title] {
        position: relative;
      }

      .projeto-container {
        padding: 10px;
        margin: 45px;
        width: 200px;
        height: 200px;
        position: relative;

        .projeto {
          cursor: pointer;
          width: 200px;
          height: 200px;
          background-color: $almosWhite;

          .imagem-projeto {
            width: calc(91% - 20px);
            height: calc(91% - 20px);
            margin: 10px;
            background-color: $white;
            position: absolute;
            background-size: 100%;
            background-position: 1px 36px;
            background-repeat: no-repeat;
          }
        }

        &:hover {
          .projeto {
            position: absolute;
            width: 240px;
            height: 240px;
            top: -10px;
            left: -10px;
            background-color: $almosWhite;

            .imagem-projeto {
              width: calc(100% - 20px);
              height: calc(100% - 20px);
              position: absolute;
            }
          }
        }
      }
    }

    #projetos-3d, #contato-form, #projetos-front {
      padding: 30px;
      display: flex;
      flex-wrap: wrap;
      max-height: 600px;
      overflow: auto;
      transition: 0.9s;
    }

    #contato-form {
      justify-content: center;

      #form {
        width: 60%;
        display: none;

        .form-title {
          color: #aeaeb3;
          font-family: $Segoe;
          font-size: 18px;
          text-align: center;
        }

        .form-title-line {
          border-color: $almosWhite;
          margin-bottom: 50px;
          width: 40%;
        }

        .campo-form {
          width: 100%;
          margin-bottom: 20px;

          label {
            font-family: $Segoe;
            margin-bottom: 5px;
            font-size: 18px;
            color: $labelColor;
          }

          textarea {
            width: 98%;
            resize: none;
            font-size: 16px;
            padding: 5px;
            color: #868282;
            border-radius: 2px;
            font-family: $Segoe;
          }

          input[type=text], input[type=email] {
            width: 98%;
            font-size: 16px;
            padding: 5px;
            color: #868282;
            font-family: $Segoe;
            border-radius: 2px;
          }

          .campo {
            border: 1px solid $grayLight;
          }

          .required {
            border: 1px solid red;
          }

          .enviar-mensagem {
            background: $white;
            border: 1px solid $grayLight;
            padding: 8px;
            font-size: 16px;
            width: 100%;
            cursor: pointer;
            color: $labelColor;

            &:hover {
              background-color: $almosWhite;
            }
          }

          .botao-bloqueado {
            cursor: not-allowed;
            background-color: $grayLight;
          }
        }
      }

      .social-media {
        width: 60%;
        display: flex;

        #behance, #linkedin, #github {
          width: 40px;
          height: 40px;
          margin: 1px;
          cursor: pointer;
          background-size: 100% 100%;
          border: 1px solid $white;

          &:hover {
            border: 1px solid $grayLight;
          }
        }

        #behance {
          background-image: url("../../images/behance.png");
          opacity: 0.5;
        }

        #linkedin {
          background-image: url("../../images/linkedin.png");
        }

        #github {
          background-image: url("../../images/githubIcon.png");
          opacity: 0.3;
        }
      }
    }

    footer {
      position: absolute;
      bottom: 0px;
      padding: 10px;
      text-align: center;
      width: 100%;
      font-family: $Segoe;
      color: $labelColor;
    }
  }

  .popup-send {
    display: block;
    background-color: rgba(0,0,0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;

    .popup-send-front {
      padding: 20px;
      font-family: $Segoe;
      width: 400px;
      left: calc(50% - 200px);
      min-height: 150px;
      background-color: white;
      box-shadow: 1px 1px 20px 20px #989898;
      top: 20%;
      position: absolute;
      z-index: 99999;

      .popup-title {
        font-size: 24px;
        color: $labelColor;
      }

      .popup-body {
        font-size: 20px;
        color: $labelColor;
      }

      .popup-success {
        display: none;

        .button-popup-ok {
          position: absolute;
          bottom: 20px;
          right: 20px;
          background-color: $white;
          border: 1px solid $grayLight;
          width: 50px;
          height: 30px;
          cursor: pointer;
          color: $labelColor;

          &:hover {
            background-color: $almosWhite;
          }
        }
      }

      .popup-loading {
        .loading {
          display: flex;
          justify-content: center;

          .loader {
            color: $grayLight;
            font-size: 50px;
            text-indent: -9999em;
            overflow: hidden;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            animation: load 1.7s infinite ease, round 1.7s infinite ease;
          }

          @keyframes load {
            0% {
              box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            }

            5%, 95% {
              box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            }

            10%, 59% {
              box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
            }

            20% {
              box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
            }

            38% {
              box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
            }

            100% {
              box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            }
          }

          @keyframes round {
            0% {
              transform: rotate(0deg);
            }

            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $almosWhite;
}

::-webkit-scrollbar-thumb {
  background: #a7a6a6;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
